/* CSS by Shyam Pandya */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


/* //// CSS RESET BY: http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) //// */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* //// END CSS RESET BY: http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) //// */



/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  color: var(--watchdog-white);
  background: var(--blue-bulletin);
  padding: 8px;
  z-index: 100;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  transition: var(--transition);

}

.skip-link:focus {
  top: 0;
}


/* ///ADD/// Navigation Styles */

.menu-button {
  display: inline-block;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 100%;

} 

.mobile-nav {
  margin: 1rem 0rem;
}

#menu-toggle {
  display: none;
}

.menu {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  align-content: left;
  padding: 1rem 0rem;
  margin: 1rem 0rem;
  overflow: hidden;
  transition: var(--transition);

}

@media (min-width: 620px) {
  .menu-button {
    display: none;
  }
  
  .mobile-nav {
    display: flex;
    justify-content: flex-start;
  }

  .menu,
  .social-media-links {
    display: flex;
    justify-content: left;
    padding: 0.5rem 0rem;
    margin: 0rem;
    gap: 1rem;
  }

  .menu li a,
  .social-media-links li a {
    display: flex;
    padding: .5rem .5rem;
    background-color: var(--news-flash);
    color: var(--watchdog-white);
    border: 0.15rem solid var(--news-flash);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;

  }

  .menu li a:hover, 
  .menu li a:focus,
  .social-media-links li a:hover,
  .social-media-links li a:focus {
    background-color: var(--blue-bulletin);
  }
  
  /* body.dark-mode .menu li a {
    background-color: var(--news-flash);
    color: var(--watchdog-white);
  }

  body.dark-mode .menu li a:hover {
    background-color: var(--blue-bulletin);
  }
    */
}






/* ///ADD/// Global Layout Styles */

header,
footer {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 1rem 0rem;
}


main, 
.header-content,
.footer-content {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
}

article,
section,
form {
  margin-bottom: 2rem;
}

video {
  max-width: 100%;
  height: auto;
}


.breaking-news-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}


.breaking-news {
  display: inline-block;
  background-color: var(--news-flash);
  padding: 1rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
  border: 0.15rem solid var(--blue-bulletin);
  color: var(--watchdog-white);
  transition: var(--transition);
}

.breaking-news h3 {
  margin-top: 0rem;
  border-bottom: 0.15rem solid var(--watchdog-white);
}

.breaking-news:hover {
  transform: scale(1.03);
  cursor: pointer;
}



.featured-articles-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.featured-article {
  display: inline-block;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 0.15rem solid var(--story-subtitle);
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.featured-article:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.featured-article h3 {
  margin-top: 0rem;
  border-bottom: 0.15rem solid var(--story-subtitle);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  background-color: var(--news-flash);
  color: var(--watchdog-white);
  border: 0.15rem solid var(--story-subtitle);
  box-shadow: var(--shadow);
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form label {
  font-weight: normal;
  font-size: 1.25rem;
  text-transform: none;
  display: inline-block;
}

form input[type="text"],
form input[type="tel"] {
  width: 100%;
  padding: 0rem;
  font-size: 2rem;
  border: 0.1rem solid var(--blue-bulletin);
}


form fieldset {
  grid-column: 1/-1;
  border: 0.25rem solid var(--blue-bulletin);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

form fieldset legend {
  font-size: 1.25rem;
  font-weight: bold;
}

form fieldset label {
  font-size: 1rem;
  font-weight: normal;
}

form button {
  grid-column: 1/-1;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  border: 0.1rem solid var(--truth-text);
  cursor: pointer;
  box-shadow: var(--shadow);

  font-family: var(--font-body);
}

form button:hover {
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
}


/* ///ADD/// Global Text Styles */

body {
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--truth-text);
  margin: 0;
  padding: 0;
}


h1, h2, h3 {
  font-family: var(--font-heading);
  font-weight: normal;
  margin: 1rem 0rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  
}
h3 {
  font-size: 1.5rem;
}

p {
  margin: 0.5rem 0rem;
}

blockquote {
  font-family: var(--font-heading);
  font-weight: bold;
  margin: 1rem 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
}


.website-title {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  color: var(--watchdog-white);
  margin: 0rem;
  
}

.header-tagline {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.5px;
  color: var(--watchdog-white);
} 

.tagline {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.5px;
}


nav.mobile-nav .menu{
  display: none;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}


/* ///ADD/// medium styles 620px */

@media (min-width: 620px) {



  nav.mobile-nav {
    display: block;
    width: 100%;
    text-align: center;

    margin-bottom: 1rem;
    margin-top: 1rem;
  }


  nav.mobile-nav .menu {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    opacity: 1;
    max-height: none;
  }

  nav.mobile-nav .menu li a {
    padding: 0.5rem 1rem;
  }

  nav.mobile-nav .menu-button {
    display: none;
  }




  .breaking-news-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .featured-articles-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

}


/* ///ADD/// large styles 920px */

@media (min-width: 920px) {

  .breaking-news-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .featured-articles-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

}


/* ///ADD/// x-large styles 1024px */

@media (min-width: 1024px) {

  .breaking-news-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .featured-articles-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */

@media (prefers-reduced-motion: reduce){
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--watchdog-white);
    color: var(--truth-text);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--truth-text);
    color: var(--watchdog-white);
  }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

  @media (max-width: 619px){
    .mobile-nav .menu {
      max-height: 0;
      opacity: 0;
      transition: var(--transition);
    }

    .mobile-nav:has(#menu-toggle:checked) .menu {
      max-height: 300px;
      opacity: 1;
    }
  }

}